@use "/src/sass/base/variables.scss" as *;

.touch {
    padding-top: 60px;

    .just-validate-error-field {
        border: none;
        outline: 1px solid $ui-error;
    }

    &__wrapper {
        margin-top: 60px;
    }

    &__img {
        display: none;
    }

    &__fieldset {
        border: none;
        margin: 0;
        padding: 0;
    }

    &__label {
        display: block;
        color: $dark;
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;

        &:nth-child(2) {
            margin-top: 8px;
        }
    }

    &__input {
        width: 100%;
        height: 48px;
        color: $dark;
        padding: 10px 15px;
        border: 1px solid rgb(226, 225, 229);
        border-radius: 2px;
        background: #fff;

        &:focus {
            border: none;
            outline: 1px solid $dark;
        }

        &::placeholder {
            color: $ui-disabled;
            font-size: 14px;
        }

        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus {
            -webkit-text-fill-color: $dark; // цвет текста
            -webkit-box-shadow: 0 0 0px 1000px transparent inset; // убирает фон браузера
            transition: background-color 5000s ease-in-out 0s; // хак против жёлтой заливки
        }
    }

    &__textarea {
        width: 100%;
        height: 132px;
        color: $dark;
        padding: 10px 15px;
        border: 1px solid rgb(226, 225, 229);
        border-radius: 2px;
        background: #fff;
        resize: none;

        &:focus {
            border: none;
            outline: 1px solid $dark;
        }

        &::placeholder {
            color: $ui-disabled;
            font-size: 14px;
        }
    }

    &__check-block {
        display: flex;
        align-items: center;
        margin-top: 20px;
        width: 175px;

        a {
            color: rgb(162, 45, 198);
            text-decoration: none;
            margin-left: 2px;
        }
    }

    &__checkbox {
        margin-right: 15px;
        width: 15px;
        height: 15px;
    }

    &__btn {
        margin-top: 20px;
    }

    &__img-vase {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .touch {
        &__wrapper {
            margin-top: 45px;
        }

        &__form {
            position: relative;
            width: 300px;
            padding-left: 24px;
        }

        &__img-vase {
            display: block;
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
}

@media screen and (min-width: 1200px) {
    .touch {
        &__wrapper {
            margin-top: 80px;
        }

        &__img {
            display: block;
            width: 550px;
            height: 342px;
            object-fit: cover;
            box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
        }

        &__input {
            &:hover {
                border: none;
                outline: 1px solid $dark;
            }
        }

        &__form {
            padding-left: 20px;
        }

        &__img-vase {
            animation: slideVs 3s linear;
        }
    }
}

@media screen and (min-width: 1920px) {
    .touch {
        padding-top: 100px;

        &__wrapper {
            margin-right: 75px;
        }

        &__img {
            width: 100%;
            height: 356px;
        }

        &__form {
            width: auto;
            padding-left: 147px;
        }

        &__img-vase {
            right: 75px;
        }

        &__fieldset {
            display: flex;
            column-gap: 45px;
        }

        &__label,
        &__input,
        &__check-block,
        &__textarea {
            width: 300px;
        }
    }
}